.profile-card {
    width: 85%;
    height: auto;
    background-color: #3D4B5A;
    color: #E9E9E9;
    margin: 50px auto 0 auto;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    .profile-info {
      display: flex;
      margin: 0 auto 0 auto;
      .profile-image {
        width: 400px;
        height: 400px;
        object-fit: contain;
        margin-right: 30px;
        border-radius: 15px;
        border: 2px solid #cacaca;
        padding: 5px;
        cursor: pointer;        
      }
      .right-info {
        margin-top: 25px;
        margin-right: 20px;
        .college,
        .company {
          color: #E9E9E9;
          font-size: 16px;
          font-weight: 600;
          line-height: 30px;
        }  
        .company {
          margin-top: -15px;
        }
      }
    }
  
    .website {
      color:  #00B2F2 !important;
      -webkit-link: #00B2F2;
    }
    .skill-label {
      font-weight: 600;
    }
    .edit-btn {
      position: absolute;
      right: 20px;
  
      .edit-icon {
        cursor: pointer;
        padding: 10px;
      }
  
      .edit-icon:hover {
        color: black;
        background-color: rgb(197, 197, 197);
        padding: 10px;
        border-radius: 50%;
      }
    }
    .userName {
      font-family: system-ui;
      color: #E9E9E9;
      font-weight: 600;
      font-size: 30px;
      margin-top: 10px;
    }
  
    .heading {
      margin-top: -25px; 
      font-family: system-ui;
      font-size: 16px;
      font-weight: 400;
      color: #E9E9E9;
      width: 320px;
      line-height: 20px;
    }
  }