$bebopBlue1: #0072b1;
$bebopBlue2: #0073b1;
$bebopBlue3: #004c75;

.profile-edit-inputs {
  display: grid;
  margin-top: 40px;
  gap: 20px;
  label {
    font-family: system-ui;
    font-size: 17px;
    margin-bottom: -15px;
  }

  .edit-input {
    width: 300px;
    height: 40px;
  }
}

.save-container {
  display: flex;
  justify-content: center;
}

.save-btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: $bebopBlue2;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
}
.save-btn:hover{
  background-color: black;
}

.close-icon {
  cursor: pointer;
  padding: 10px;
}

.close-icon:hover {
  background-color: rgb(197, 197, 197);
  color: black;
  padding: 10px;
  border-radius: 50%;
}
.common-input, .common-textArea{
  font-size: 16px !important;
  background-color: #0D1B26 !important;
  color: #e9e9e9 !important;
}